{% set dashboard_data = {} %}
{% set texts = night_report["text"] %}
<div id="tabgroup-text" class="dashboard tab-content">
  {% for text in texts %}

      {% if text.startswith("text_") %} {# for multiline text #}

        {% if texts[text] %}
          <ul class="dashboard-text">
            <li>
              {% for line in texts[text].split("\n") %}
                {% if line %}
                  <p>{{ line.replace(" ", "&nbsp;")|safe }}</p>
                {% else %}
                  <br>
                {% endif %}
              {% endfor %}
            </li>
          </ul>
        {% endif %}

      {% else %} {# not multiline text so must be a dict of key/value pairs#}

        <ul class="dashboard-quantities">
        {% for quantity, measurement in texts[text].items() %}
          <li>
            {{ quantity }}: {{ measurement }}
          </li>
        {% endfor %}
      {% endif %}

  {% endfor %}
  </div>
