.centered
  display: flex
  align-items: center
  height: 100%
  
.detector-container
  padding: 1rem
  display: flex
  flex-direction: column
  gap: 2rem

.main-detectors, .aos-detectors
  display: flex
  gap: 2rem

.step1b-section
  max-width: 20%

.spareworkers-cells
  display: flex
  gap: 0.2rem
  flex-wrap: wrap
  justify-content: start

.step1b-cells
  display: grid
  grid-template-rows: repeat(5, 36px)
  grid-auto-flow: column
  justify-content: start
  gap: 0.2rem

.step1b-cells, .spareworkers-cells
  .detector-cell
      height: 36px
      aspect-ratio: 1
      border-radius: 3px
      position: relative

.detector
  &-container
    padding: 1rem
    display: flex
    flex-direction: column
    gap: 2rem

  &-grid
    display: flex
    gap: 2rem
    margin-bottom: 1rem

  &-row
    display: flex
    gap: 2rem

  &-section-large
    flex: 1
    max-width: 40%
  &-section-small
    flex: 1
    max-width: 20%
    &.detector-title
      font-size: 0.9rem

  &-title
    font-size: 1.25rem
    margin-bottom: 1rem

  &-canvas
    position: relative
    border: 1px solid #ccc
    width: 100%
    aspect-ratio: 1

  &-cell
    position: absolute
    border: 1px solid #374151
    opacity: 0.9

    &-content
      position: absolute
      inset: 0
      display: flex
      align-items: center
      justify-content: center

.queue-length
  color: black
  font-weight: bold

.status
  &-free
    background-color: #22c55e
  &-busy
    background-color: #eab308
  &-queued
    background-color: #ef4444
  &-missing
    background-color: #d1d5db
  

.legend
  margin-top: 1rem

  &-title
    font-weight: bold

  &-items
    display: flex
    gap: 1rem
    margin-top: 0.5rem
    justify-content: flex-start

  &-item
    display: flex
    align-items: center

  &-color
    width: 1rem
    height: 1rem
    margin-right: 0.5rem

.loading-message,
.error-message
  padding: 1rem
  text-align: center

.error-message
  color: #ef4444
