#night-report
    .disabled
        display: none !important

.dashboard
    display: flex
    font-family: "Red Hat Mono", monospace
    gap: 0.5em

ul
    width: 100%
    list-style: none
    margin-bottom: 1em

    li
        box-sizing: border-box
        border: 1px #555 solid
        border-radius: 6px
        padding: 11px 18px
        margin-bottom: 6px
        background-color: #fff

    .dashboard-text
        width: 100%
        color: #000

.tabs
    margin-top: 2em

.tab-titles
    display: flex
    flex-direction: row
    flex-wrap: wrap
    border-bottom: 1px solid #ddd
    width: fit-content

.tab-title
    padding: 1em 1em 0.7em 1em
    cursor: pointer
    padding: 0.5em 1em 0.7em 1em
    cursor: pointer
    background: #b0b0b0
    border-radius: 0px 11px 0 0
    border: 1px solid transparent
    border-bottom: none
    margin-right: 2px

    &:last-of-type
        margin-right: 0

    &.selected
        background: #fff
        border-color: #666
        border-bottom: 1px solid #fff

.tab-content
    padding: 1em
    background: #ddd
    color: #333
    border-radius: 0 6px 6px 6px
    border: 1px solid #666

    &:not(.selected)
        display: none

.plots-grid
    display: flex
    flex-wrap: wrap
    background-color: transparent
    color: #fff
    gap: 1em

.plot
    width: calc(50% - 0.5em)
    display: flex
    flex-direction: column

img
    width: 100%
    height: auto

figcaption
    margin-top: 0.5em
