.admin-panels-container
    width: min-content
    margin-bottom: 2em
    background: rgba(0,0,0,0.2)
.admin-panels-header
    padding: 1.5em 0em 0.2em 2em
.admin-panel
    display: flex
    flex-direction: column
    padding: 0 1.5em 0 1.7em
    gap: 2em
.admin-panel-part
    display: flex
    gap: 1.5em
.box
    display: flex
    flex-direction: column
    padding: 1em
    background: #656565
    border-radius: 6px
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2)
    min-width: 250px
    .box-header
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 0.5em
        .menu-title, .box-title
            color: #fff
            font-size: 1.1em
            padding-left: 3px
        span
            font-size: 0.6em
            &::after
                display: flex
                justify-content: center
                align-items: center
                content: "●"
                width: 1.7em
                height: 1.7em
                border-radius: 50%
                color: #555
                transition: 0.3s
            &.success::after
                content: "✓"
                background-color: #0f0
            &.fail::after
                content: "✗"
                background-color: #f00
.dropdown-menu
    color: #fff
    min-width: 200px
    .dropdown-button
        background: #333
        color: inherit
        padding: 0.5em
        cursor: pointer
        border: none
        border-radius: 6px 6px 0 0
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        &:hover
            background: #444
        &::after
            content: "∆"
            margin-left: 3em
            transform-origin: 50% 50%
            transform: rotate(180deg)
            display: inline-block
            width: 0.7em
            transition: 0.3s
        &.greyed-out
            color: #aaa

    .dropdown-content
        margin-top: 2px
        background: inherit
        display: flex
        flex-direction: column
        position: absolute
        width: 218px
        .dropdown-item
            background: #333
            list-style: none
            padding: 0.5em
            cursor: pointer
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden
            &:hover
                background: #555
                
.dropdown-menu.hidden
    .dropdown-button
            border-radius: 6px
            &::after
                transform: rotate(90deg)
    .dropdown-content
            visibility: hidden

.box button
    background: #555
    color: #fff
    border: none
    padding: 0.5em 1em
    border-radius: 6px
    cursor: pointer
    &:hover
        background: #222
    &:active
        background: #777


.box form
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    gap: 1em
    label
        display: none
        margin-left: 3px
        color: #fff
    input[type="text"]
        background: #333
        color: #fff
        border: none
        padding: 0.5em
        border-radius: 6px
        width: 100%
        margin-top: 0.5em
        &:focus
            outline: none
            box-shadow: 0 0 5px rgba(255,255,255,0.3)
        &::placeholder
            color: #aaa

.danger-panel
    padding: 1.5em 0.9em 0.9em
    .danger-panel-border
        padding: 0.9em 0.7em
        border: 2px red dashed
        border-radius: 6px
    .danger-panel-title
        color: #f00
        font-size: 1.2em
        padding: 0em 0em 0.6em 0.2em
