# This file is used to specify the dependencies of the package
# when using the Dockerfile on the root folder.
setuptools_scm
asgi_lifespan
structlog
boto3
fastapi
httpx
moto
pytest_asyncio
websocket-client
beautifulsoup4
py-spy
locust
locust_plugins
