# This file is used to specify the dependencies of the package
# when using the Dockerfile on the root folder.
setuptools_scm
asgi_lifespan
boto3
fastapi
httpx
moto
safir
pytest_asyncio
websocket-client
beautifulsoup4