{% extends "layout.jinja" %}

{% block subtitle %}
 <h2>{{ telescope.name }}</h2> 
{% endblock subtitle %}

{% block content %}
    {# <section id="subheader">
        <h2>This site is for accessing rapid image analysis from the LSST Auxiliary Telescope.</h2>
    </section> #}

    <nav id="channel-menu" role="navigation">
      <ul class="channels flr-sb">
        {% for channel in channels %}
          <li class="channel">
            <a  class="button large-button {{channel}}" 
                href="/rubintv/{{ telescope.slug }}/{{channel}}_current" target="_blank">
              <span>{{ channels[channel].name }}</span>
            </a>
          </li>
        {% endfor %}
        <li><a href="#" class="button large-button">Rolling Buffer</a></li>
        <li><a href="#" class="button large-button">Tonight's Movie</a></li>
      </ul>
    </nav>

    <section class="channel-data-archive">
          {# <table>
            <caption><h1>Table of recent images</h1></caption>
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Sequence Number</th>
                  <th colspan="{{ channels|length }}">Channels</th>
                </tr>
              </thead>
  
              <tbody class="table-body">
              {% include "telescopes/table.jinja" %}
              </tbody>

          </table> #}

          <h3>Table of recent data</h3>
          <div class="channel-grid">
            {# <div class="grid-titles"> #}
              <span class="grid-title gt-date">Date</span>
              <span class="grid-title">Seq. No.</span>
              <span class="grid-title gt-channels">Channels</span>
              {# {{channels}} #}
            {# </div> #}
            {# <div class="grid-data"> #}
              {% include "telescopes/grid-data.jinja" %}
            {# </div> #}
          </div>


        </div>
      </section>
{% endblock content %}
