{% for img in imgs %}
<tr>
    <td>{{img.humanDate()}}</td>
    <td>{{img.seq}}</td>
    {% for chan in img.chans %}
    {% if chan is not none %}
        <td>
            <a class="button button-table {{img.chan}}" href="{{ '/rubintv/' + chan.endpoint + '/' + img.cleanDate() + '/' + img.seq|string }}">
            </a>
        </td>
    {% else %}
        <td></td>
    {% endif %}
    {% endfor %}
</tr>
{% endfor %}
