body
	background-color: #fff

.channel-grid-heading
	background-color: #fff

.grid-cell
	background-color: #f0f0f0
	color: #000

.table-spacer
	background-color: #fff

.button.monitor
	background-color: #F07F85
.button.mount
	background-color: #F0C87F
.button.spec
	background-color: #7F85F0
.button.im
	background-color: #7FF094
.button.historical
	background-color: #262534
	color: #fff
.button.movie
	background-color: #83daee
	text-align: center
.button.admin
	background-color: #999

.button.startracker
	background-color: #58528b
	color: #fff
.button.analysis
	background-color: #ba528f
.button.startracker-wide
	background-color: #fc6465
.button.startracker-wide-analysis
	background-color: #fda529


.grid-cell
	&.group-a
		background-color: #e0e0e0

	&.bad
		background-color: #ebab93

	&.warning
		background-color: #f1f1a7

	&.ok
		background-color: #b3f1a7
