@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.button {
  box-sizing: border-box;
  border-radius: 10%;
  border: none;
  background: #eee;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-decoration: none;
  box-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, 0.26);
  transition: 0.2s;
  padding: 0.5em;
}
.button:hover {
  box-shadow: none;
}

.button-large {
  width: 160px;
  height: 110px;
  padding: 0.8em 1.2em;
  font-size: 0.85em;
}
.button-large.button-logo {
  background-position: center;
  background-repeat: no-repeat;
}
.button-large.button-logo:not([style*=".svg"]) {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  background-size: cover;
}
.button-large:hover {
  transform: scale(0.992);
}

.button-large img {
  width: 50%;
  margin: auto;
}

.button-small {
  padding: 1em;
  height: 67px;
  width: fit-content;
  min-width: 100px;
}

.button-table {
  width: 30px;
  height: 30px;
  border-radius: 10%;
}
.button-table.image-viewer-link {
  background: url(/rubintv/static/images/image-viewer-link.svg);
}
.button-table.copy {
  background-image: url(/rubintv/static/images/copy-to-clipboard.svg);
  width: 16px;
  height: 16px;
}

.button.historical {
  width: max-content;
  padding: 0.4em;
  margin-bottom: -0.4em;
  border-radius: 6px;
  display: inline-block;
  flex-direction: row;
}
.button.historical img {
  height: 1em;
  width: auto;
  margin-left: 4px;
}

body {
  background-color: #555;
  color: #eee;
}

header {
  background-color: #3c3c3c;
  color: #eee;
  border-top: 3px solid #eee;
  border-bottom: 1px solid #eee;
}
header a {
  color: #eee;
}

.year-title {
  color: #999;
  background-color: #555;
}

.day {
  background: #484848;
  color: #eee;
}
.day:hover {
  text-decoration: none;
}
.day.obs {
  background: #404040;
}
.day.obs:hover {
  background: #505050;
}

.service-group {
  background: #484848;
}

.services .service {
  background: #555;
}

#night-report {
  color: #000;
}

.table-control {
  color: #222;
}

.channel-grid-heading {
  background-color: #555;
}

.grid-cell {
  background-color: #f0f0f0;
  color: #000;
}

.table-spacer {
  background-color: #555;
}

.svg-brace {
  stroke: #fff;
}

.button.historical {
  background-color: #262534;
  color: #fff;
}

.button.movie {
  background-color: #83daee;
}

.button.night-report {
  background-color: #696797;
  color: #fff;
}

.button.admin {
  background-color: #999;
}

.button.monitor {
  background-color: #F07F85;
}

.button.mount {
  background-color: #F0C87F;
}

.button.spec {
  background-color: #7F85F0;
}

.button.im {
  background-color: #7FF094;
}

.button.startracker {
  background-color: #58528b;
}

.button.analysis {
  background-color: #ba528f;
}

.button.startracker-wide {
  background-color: #fc6465;
}

.button.startracker-wide-analysis {
  background-color: #fda529;
}

.button.startracker-fast {
  background-color: #FECC66;
}

.button.startracker-fast-analysis {
  background-color: #d5fa80;
}

.button.focal_plane_mosiac {
  background-color: #6fe9ba;
}

.button.noise_map {
  background-color: #e771a8;
}

.grid-cell.u_color {
  background-color: white;
}

.grid-cell.g_color {
  background-color: white;
}

.grid-cell.r_color {
  background-color: white;
}

.grid-cell.i_color {
  background-color: white;
}

.grid-cell.z_color {
  background-color: white;
}

.grid-cell.y_color {
  background-color: white;
}

.grid-cell.bad {
  background-color: #ebab93;
}
.grid-cell.warning {
  background-color: #f1f1a7;
}
.grid-cell.ok {
  background-color: #b3f1a7;
}
.grid-cell.measured {
  background-color: #7dc8cf;
}
.grid-cell.white_color {
  background-color: #fefefe;
}
.grid-cell.rainbow_color {
  background: linear-gradient(270deg, #fec8c9 0%, #f5dece 16%, #f5f8cd 28%, #e0f5d1 50%, #c9d2fe 66%, #dcddfe 83%, #f1dafe 100%);
}
.grid-cell.r_stripes {
  background: linear-gradient(27deg, #f77171 0%, #f77171 14%, #f0f0f0 14%, #f0f0f0 29%, #f77171 29%, #f77171 43%, #f0f0f0 43%, #f0f0f0 57%, #f77171 57%, #f77171 71%, #f0f0f0 71%, #f0f0f0 84%, #f77171 84%, #f77171 100%);
}
.grid-cell.b_stripes {
  background: linear-gradient(27deg, #71abf7 0%, #71abf7 14%, #f0f0f0 14%, #f0f0f0 29%, #71abf7 29%, #71abf7 43%, #f0f0f0 43%, #f0f0f0 57%, #71abf7 57%, #71abf7 71%, #f0f0f0 71%, #f0f0f0 84%, #71abf7 84%, #71abf7 100%);
}

.calendar {
  width: 100%;
  margin-top: -2em;
  margin-bottom: 2em;
}
.calendar.half-width {
  width: 50%;
}

.most-recent-year {
  margin-bottom: 2em;
}

.year-titles {
  margin-bottom: 4em;
  position: relative;
  max-width: fit-content;
}

.year-title {
  font-size: 1.1em;
  cursor: pointer;
  max-width: fit-content;
}
.year-title.current {
  color: #eee;
}

.year-title-viewbox {
  height: 1.1em;
  display: flex;
  gap: 14px;
}

.years {
  overflow: hidden;
}

.year {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  gap: 3em;
  overflow-x: scroll;
}
.year.current {
  display: flex;
}

.month-title {
  font-size: 1.1em;
  margin-bottom: 1em;
  text-align: end;
}

.months {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.month {
  box-sizing: border-box;
  flex-basis: calc(25% - 0.5em);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.day {
  font-family: "Red Hat Mono", monospace;
  padding: 0.4em;
  width: 1.9em;
  height: 1.7em;
  user-select: none;
}
.day.obs {
  cursor: pointer;
  transition: background 0.3s;
}
.day .day_num {
  display: block;
}
.day .num_evs {
  font-size: 0.6em;
  display: block;
}

.flr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.resp {
  width: 100%;
  height: auto;
}

.behind {
  position: relative;
  z-index: -1;
  margin-top: -7vh;
  margin-bottom: -9vh;
}

a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  text-decoration: underline;
}

.inline-block {
  display: inline-block;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
  font-weight: 300;
}

header {
  padding: 16px 30px 20px;
}
header a .inline {
  text-decoration: underline;
  display: inline-block;
}

.header-wrap {
  display: flex;
  align-items: stretch;
}
.header-wrap > div {
  display: flex;
  flex-direction: column;
}

.header-messages {
  justify-content: center;
  margin-right: 3em;
}

.header-page-titles {
  margin-top: 12.5px;
}

.header-page-buttons {
  flex-grow: 1;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 2em;
}

.header-site-titles {
  align-items: center;
}

.page-title {
  font-weight: 400;
  font-size: 35px;
  margin: 0;
}

.page-subtitle {
  margin-top: auto;
  margin-bottom: 0.2em;
}

.site-title {
  font-size: 11.4px;
  margin-top: 8px;
}

.logo {
  display: block;
  width: 120px;
  height: auto;
  padding: 12.5px;
  box-sizing: border-box;
  background-color: #fff;
}
.logo img {
  width: 100%;
  height: auto;
}
.logo h1 {
  margin: 0;
}
.logo h1 a {
  display: inline-block;
  font-size: 1em;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1em;
  gap: 4px;
}
.breadcrumb a {
  color: #fff;
}

main {
  padding: 1em 30px 25px;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

section {
  margin-bottom: 4em;
  padding-bottom: 2em;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 2em;
}

#per-image-menu {
  flex-basis: 70%;
}

.channel-day-data {
  flex-basis: 50%;
}

.allsky-current-image, .allsky-current-movie {
  flex-basis: 50%;
}

.allsky-current-movie {
  position: relative;
}

@media screen and (max-width: 1165px) {
  .allsky-current-movie .button.historical {
    top: -68px;
    right: 32px;
    width: 8.6em;
    height: 5.3em;
  }
}
.current-movie {
  flex-basis: 50%;
}

.historical.current-movie {
  align-self: flex-start;
  position: sticky;
  top: 3em;
}

.video-with-overlay {
  position: relative;
}
.video-with-overlay img {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.metadata-status {
  display: flex;
  align-items: center;
}

.download-metadata {
  margin-left: 1em;
  height: 42px;
}

.channel-grid-heading {
  padding-top: 1em;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.7em;
  z-index: 23;
}
.channel-grid-heading h3 {
  margin-bottom: 0;
}

.per-day-channels {
  margin-bottom: 1em;
}
.per-day-channels > * {
  margin-right: 1em;
}

.channel-grid {
  font-family: "Red Hat Mono", monospace;
  border-spacing: 2px;
  border-collapse: separate;
}

.grid-title {
  text-align: left;
  position: sticky;
  top: 13em;
  font-size: 14px;
  cursor: pointer;
}
.grid-title.sideways {
  max-width: 40px;
  transform: rotate(330deg);
  transform-origin: 0 0;
  white-space: nowrap;
}

.grid-cell {
  font-size: 0.8em;
  padding: 0.3em;
  vertical-align: middle;
  height: 42px;
  box-sizing: border-box;
}

.table-spacer {
  height: 8em;
  position: sticky;
  top: 4.4em;
}

.meta-group {
  height: 20px;
  position: relative;
  top: -3em;
}
.meta-group img {
  width: 100%;
  height: 100%;
}

.startracker thead, .startracker-wide thead, .startracker-fast thead {
  position: sticky;
  top: 10.8em;
}
.startracker .grouping, .startracker-wide .grouping, .startracker-fast .grouping {
  height: 6em;
}
.startracker .braced-group-title, .startracker-wide .braced-group-title, .startracker-fast .braced-group-title {
  margin-bottom: 2px;
}
.startracker .grid-title, .startracker-wide .grid-title, .startracker-fast .grid-title {
  position: static;
}
.startracker .table-spacer, .startracker-wide .table-spacer, .startracker-fast .table-spacer {
  height: 11em;
}
.startracker .meta-group, .startracker-wide .meta-group, .startracker-fast .meta-group {
  top: -5.4em;
}
.startracker .meta-group p, .startracker-wide .meta-group p, .startracker-fast .meta-group p {
  white-space: nowrap;
}
.startracker .jump-buttons, .startracker-wide .jump-buttons, .startracker-fast .jump-buttons {
  top: 254px;
}

.copy-to-cb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.copied {
  position: fixed;
  padding: 0.5em;
  border: 1px solid green;
  border-radius: 6px;
  background-color: #fff;
  animation: fadeout 0.8s linear 0.5s;
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.table-panel {
  position: relative;
  background: #eee;
  padding: 0.8em 19px;
  border-radius: 20px;
  margin: 0 1em;
}

.table-control-button::after {
  content: "∆";
  margin-left: 1em;
  transform-origin: 50% 50%;
  transform: rotate(90deg);
  display: inline-block;
  width: 0.7em;
  transition: 0.3s;
}

.table-controls {
  display: none;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  gap: 0 0.4em;
  padding: 3px;
  margin: 20px -21px;
  border-top: none;
  background: #fff;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.2);
}
.table-controls label {
  padding: 3px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.table-control {
  padding: 2px 1em;
  white-space: nowrap;
}
.table-control:hover {
  background: #ddd;
}
.table-control.toggle {
  background: #6d6d6d;
  color: #fff;
  border-radius: 0 0 6px;
}

.table-panel.open .table-controls {
  display: grid;
}
.table-panel.open .table-control-button::after {
  transform: rotate(180deg);
}

.table-control-button {
  border: none;
  background: inherit;
}

.jump-buttons {
  position: absolute;
  width: 30px;
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 146px;
  left: -30px;
  gap: 2px;
}
.jump-buttons .jump-button {
  height: 42px;
  width: 30px;
  border: none;
  padding: 4px;
}
.jump-buttons .to-bottom {
  transform: rotate(180deg);
}

.admin-access {
  margin-top: 3em;
}

.service-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  padding: 1em;
}
.service-group .all-services, .service-group .services {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.service-group .all-services > * {
  padding: 1em;
  border: 1px solid #aaa;
  border-radius: 6px;
}
.service-group .all-services > *:nth-child(2) {
  margin-left: 2em;
}
.service-group .all-services h4 {
  text-align: center;
  margin-bottom: 0.5em;
}
.service-group .service {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  text-align: center;
}
.service-group .service .heartbeat {
  margin-bottom: 0.3em;
}

.heartbeat {
  width: 32px;
  height: 32px;
  background-image: url(/rubintv/static/images/heartbeat_unknown.svg);
}

.active .heartbeat {
  background: url(/rubintv/static/images/heartbeat_active.svg);
  animation: heartbeat 1.5s infinite;
}

.stopped .heartbeat {
  background: url(/rubintv/static/images/heartbeat_stopped.svg);
  animation: none;
}

.service.inline-block .heartbeat {
  width: 0.7em;
  height: 0.7em;
  background-image: none;
}
.service.inline-block.stopped {
  background: url(/rubintv/static/images/heartbeat_stopped.svg);
}

.channel .heartbeat {
  margin: auto;
  height: 50px;
  width: 50px;
  background-image: none;
}

.channel.active .heartbeat {
  background-image: none;
}

.channel.stopped .heartbeat {
  background-image: url(/rubintv/static/images/heartbeat_channel_stopped.svg);
}

.metadata-status .heartbeat {
  height: 14px;
  width: 14px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
#historicalReset {
  display: flex;
  align-items: center;
}
#historicalReset .pending, #historicalReset .done {
  margin-left: 2px;
  height: 20px;
  width: 20px;
}
#historicalReset .pending img, #historicalReset .done img {
  height: 100%;
}
#historicalReset .hidden {
  display: none;
}

#night-report .disabled {
  display: none !important;
}

.dashboard {
  font-family: "Red Hat Mono", monospace;
  margin: 2em 0;
}
.dashboard ul {
  list-style: none;
  margin-bottom: 1em;
}
.dashboard li {
  box-sizing: border-box;
  border: 1px #555 solid;
  border-radius: 6px;
  padding: 11px 18px;
  margin-bottom: 6px;
  flex-basis: calc(50% - 0.5em);
  background-color: #fff;
}
.dashboard .dashboard-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.tab-titles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  width: fit-content;
}

.tab-title {
  padding: 1em 1em 0.7em 1em;
  cursor: pointer;
  padding: 0.5em 1em 0.7em 1em;
  cursor: pointer;
  background: #eee;
  border-radius: 0px 11px 0 0;
  border: 1px solid transparent;
  border-bottom: none;
  margin-right: 2px;
}
.tab-title:last-of-type {
  margin-right: 0;
}
.tab-title.selected {
  border-color: #666;
}

.tab-content:not(.showing) {
  display: none;
}

.plots-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  background-color: #eee;
  padding: 1em;
}

.plot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #eee;
}
.plot img {
  width: 100%;
  height: auto;
}
.plot figcaption {
  margin-top: 0.5em;
}

.in-memoriam {
  display: flex;
  flex-direction: row;
  width: max-content;
  color: #000;
}
.in-memoriam:hover {
  text-decoration: none;
}
.in-memoriam:hover p {
  background: #fff;
}
.in-memoriam p {
  font-size: 0.8em;
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em;
  text-align: center;
  background: #eee;
  transition: 0.3s;
  border-radius: 20px;
  border: 3px solid #578147;
}
.in-memoriam img {
  height: 48px;
  width: auto;
  z-index: 2;
  margin-top: auto;
  margin-bottom: 0;
  transform: scale(-1, 1);
}
.in-memoriam img:first-of-type {
  transform: scale(1);
  margin-top: 0;
  margin-bottom: auto;
}

.site-host-display {
  position: fixed;
  z-index: 24;
  top: 0;
  right: 0;
  padding: 9px;
  background-color: aquamarine;
  border-radius: 0 0 0 6px;
  font-size: 0.8em;
  color: #222;
  opacity: 0.7;
  pointer-events: none;
}
.site-host-display.development {
  background-color: burlywood;
}

/*# sourceMappingURL=style.css.map */
