{% extends "cameras/layout.jinja" %}
{% block undertitle %}
  <a class="button button historical" href="/{{ app_name() }}/summit/allsky/historical">
    Historical movies
    <img src="{{ url('static', filename='images/history-line.svg') }}">
  </a>
{% endblock undertitle %}

{% block allsky_status %}
<div id="allsky" class="on-page-status">
  <div class="heartbeat"></div>
</div>
{% endblock allsky_status %}

{% block content %}
  <div class="columns">

    <section class="allsky-current-image">
    <h2>Current Still Image:</h2>
      <div class="current-still">
        {% include "cameras/allsky-image.jinja" %}
      </div>
    </section>

    <section class="allsky-current-movie">
    <h2>Most recent movie:</h2>
      <div class="current-movie">
        {% include "cameras/allsky-movie.jinja" %}
      </div>
    </section>
  </div>
{% endblock content %}
{% block footer_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=module src="{{ url('static', filename='js/allsky/allsky-refresh.js') }}"></script>
{% endblock footer_scripts %}
