<div class="subheader">
  <h3>{{current.date.date()}} : Sequence {{current.seq}}</h3>
</div>
<a target="_blank" href="{{current.url}}">
  <img class="resp" src="{{current.url}}">
</a>
<div class="desc">{{current.name}}</div>
