{% for year in years %}
  {% if year == year_to_display %}
  <div class="year open" data-year="{{ year }}">
  {% else %}
  <div class="year closed" data-year="{{ year }}">
  {% endif %}
    <h4 class="year-title">{{ year }}</h4>
      <div class="months">
        {% for month in years[year] %}
        <div class="month">
          <h5 class="month-title">
            {{ month_names[month - 1] }}
          </h5>
          <div class="days">
            {% for day in years[year][month] %}
              <div class="day" data-date="{{ year }}-{{ month }}-{{ day }}">
                <span class="day_num">{{ day }}</span>
                <span class="num_evs">({{ years[year][month][day] }})</span>
              </div>
            {% endfor %}
          </div>  {# end of days #}
        </div> {# end of month #}
      {% endfor %}
      </div>
  </div> {# end of year #}
{% endfor %}
