{% extends "cameras/layout.jinja" %}

{% block undertitle %}
  <a class="button historical" href="{{ url('historical', location=location.slug, camera=camera.slug) }}">
    Historical data
    <img src="{{ url('static', filename='images/history-line.svg') }}">
  </a>
{% endblock undertitle %}

{% block content %}
  <section class="columns">
    {% if night_reports_link %}
      <div id="night_reports_link">
        <h3>Night Reports Page</h3>
        <a href="{{ night_reports_link }}" class="button button-large night-reports">
          Night Reports
        </a>
      </div>
    {% endif %}
    <div id="per-day-refreshable">
      {% include "cameras/per-day-channels.jinja" %}
    </div>
  </section>

  <section>
    <nav id="per-image-menu" class="channel-menu" role="navigation">
      <h3>Per Image Channels: Current</h3>
        <ul class="channels flr">
          {% for channel in camera.channels.values() %}
            {% if channel.label %}
              <li class="channel service"
                  id="{{ channel.prefix }}"
                  data-dependent-on="{{ channel.service_dependency }}">
                <a  class="button button-large {{ channel.simplename }}"
                    href="{{ url('current', location=location.slug, camera=camera.slug, channel=channel.simplename) }}" target="_blank">
                  <div class="heartbeat"></div>
                  <span>{{ channel.name }}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
  </section>

  <div class="metadata-status">
    <h4>metadata service:&nbsp;</h4>
    <div class="service" id="{{ camera.metadata_slug }}_metadata">
      <div class="heartbeat"></div>
    </div>
  </div>

    <section class="channel-day-data">
      {% include "cameras/data-table-header.jinja" %}
    </section>
{% endblock content %}

{% block footer_scripts %}
  {% set cam_js_filename = "js/refresh-table/refresh-table-" + camera.slug + ".js" %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="module" src='{{ url("static", filename=cam_js_filename) }}'></script>
  <script type="module" src="{{ url('static', filename='js/camera-status.js') }}"></script>
{% endblock footer_scripts  %}
