{% extends "cameras/layout.jinja" %}

{% block undertitle %}
  {% if camera.has_historical %}
    <a class="button historical" href="/rubintv/{{camera.slug}}/historical">
      Historical data
      <img src="{{ url('static', filename='images/history-line.svg') }}">
    </a>
{% endif %}
{% endblock undertitle %}

{% block content %}
  <div class="columns">

    <nav id="per-image-menu" class="channel-menu" role="navigation">
      <h3>Per Image Channels: Current</h3>
      <ul class="channels flr">
        {% for channel in camera.channels %}
          {% if camera.channels[channel].label %}
            <li class="channel">
              <a  class="button button-large {{channel}}"
                  href="/rubintv/{{ camera.slug }}/{{channel}}_current" target="_blank">
                <span>{{ camera.channels[channel].name }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
     {% if per_day | length %}
      <nav id="per-night-menu" class="channel-menu" role="navigation">
        <h3>Per Night Channels</h3>
        <ul class="channels flr">
          {% for pd_channel_name in per_day %}
            <li class="channel">
              <a  class="button button-large {{ pd_channel_name }}"
                  href="{{ per_day[pd_channel_name] }}">
                <img src="/rubintv/static/images/{{ pd_channel_name }}.svg">
                {{ camera.per_day_channels[pd_channel_name]['name'] }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>

    <section class="channel-day-data">
      {% include "cameras/data-table-header.jinja" %}
    </section>
{% endblock content %}

{% block footer_scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="module" src="{{ url('static', filename='js/refresh-daytable.js') }}"></script>
{% endblock footer_scripts  %}
