{% extends "cameras/layout.jinja" %}

{% block content %}

    {% if camera.per_day_channels | length %}
        <nav id="per-night-menu" class="channel-menu" role="navigation">
          <h3>Per Night Channels</h3>
          <ul class="channels flr">
            {% for pn_channel in camera.per_day_channels.values() %}
              <li class="channel">
                <a class="button button-large" href="#">
                  {{ pn_channel.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
    {% endif %}

    <nav id="per-image-menu" class="channel-menu" role="navigation">
    <h3>Per Image Channels: Current</h3>
      <ul class="channels flr">
        {% for channel in channels %}
          <li class="channel">
            <a  class="button button-large {{channel}}"
                href="/rubintv/{{ camera.slug }}/{{channel}}_current" target="_blank">
              <span>{{ channels[channel].name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <div class="columns">
      <section class="channel-day-data">
        {% include "cameras/data-table-header.jinja" %}
      </section>
      <section class="sidebar">
        {% if camera.has_historical %}
          <a class="button button-large" href="/rubintv/{{camera.slug}}/historical">Historical data</a>
        {% endif %}
      </section>
    </div>
{% endblock content %}

{% block footer_scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript src="/rubintv/static/js/refresh-daytable.js"></script>
{% endblock footer_scripts  %}
