<div class="channel-grid-heading">
  <h3 class="the-date" data-date="{{ date }}">Data for day: <span class="data">{{ date }}<span></h3>
  {% block day_data_per_day_channels %}
  {% endblock day_data_per_day_channels %}
  <div class="channel-grid">
    <span class="grid-title">Seq. No.</span>
    {% for channel in camera.channels.values() %}
      <span class="grid-title gt-channel">{{ channel['simplename'] }}</span>
    {% endfor %}
  </div>
</div>
<div class="channel-grid">
  {% include "cameras/data-table.jinja" %}
</div>
