{% for seq in events %}
  <tr id="seqno-{{ seq }}">
    <td class="grid-cell">
      {{ seq }}
    </td>
    {% for chan in camera.channels %}
        <td class="grid-cell">
          {% if events[seq][chan] %}
            {% set event = events[seq][chan] %}
            {% set chan = camera.channels[chan] %}
              <a  class="button button-table {{ chan.slug }}"
                  href="{{ url('home') }}{{ event_page_link(location, camera, chan, event) }}">
              </a>
          {% endif %}
        </td>
    {% endfor %}
    {% if camera.has_image_viewer %}
      <td class="grid-cell">
        <a class="button button-table image-viewer-link" href="{{ viewer_link(date, seq) }}"></a>
      </td>
    {% endif %}
{% endfor %}
