{% for event in events %}
  <tr id="seqno-{{ event.seq }}">
    <td class="grid-cell">
      {{event.seq}}
    </td>
    {% for chan in event.chans %}
        <td class="grid-cell">
          {% if chan is not none %}
            <a  class="button button-table {{ chan.simplename }}"
                href="{{ '/rubintv/' + camera.slug + '/' + chan.endpoint + '/' + event.clean_date() + '/' + event.seq|string }}">
            </a>
          {% endif %}
        </td>
    {% endfor %}
    <td class="grid-cell">
      <a class="button button-table image-viewer-link" href="{{ viewer_link(event) }}"></a>
    </td>
{% endfor %}
