<div class="channel-grid-heading">
  <h3 class="the-date" data-date="{{ date }}">Data for day: <span class="data">{{ date }}<span></h3>
  {% block day_data_per_day_channels %}
  {% endblock day_data_per_day_channels %}
  <div class="channel-grid" style="grid-template-columns:{{ grid_columns }}">
    <span class="grid-title">Seq. No.</span>
    {% for channel in camera.channels.values() %}
      {% if channel.label %}
        <span class="grid-title gt-channel">{{ channel['label'] }}</span>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div class="channel-grid" style="grid-template-columns:{{ grid_columns }}">
  {% include "cameras/data-table.jinja" %}
</div>
