{% extends "cameras/data-table-header.jinja" %}

{% block day_data_per_day_channels %}
  <div class="per-day-channels flr">
    <a class="button button-small" href="#">Rolling GIF</a>
    <a class="button button-small" href="#">Movie</a>
  </div>
{% endblock day_data_per_day_channels %}
