<div class="channel-grid-heading">
  <h3>Data for day: <span class="data">{{ date }}<span></h3>
  {% block day_data_per_day_channels %}
  {% endblock day_data_per_day_channels %}
  <div class="channel-grid">
    <span class="grid-title">Seq. No.</span>
    <span class="grid-title gt-channel">Monitor</span>
    <span class="grid-title gt-channel">Spectrum</span>
    <span class="grid-title gt-channel">ImAnalysis</span>
    <span class="grid-title gt-channel">Mount</span>
  </div>
</div>
<div class="channel-grid">
  {% include "cameras/grid-data.jinja" %}
</div>
