{% for img in imgs %}
  {# <div class="grid-cell">{{img.humanDate()}}</div> #}
  <div class="grid-cell">{{img.seq}}</div>
  {% for chan in img.chans %}
    <div class="grid-cell">
      {% if chan is not none %}
        <a  class="button button-table {{ chan.css_class }}"
            href="{{ '/rubintv/' + camera.slug + '/' + chan.endpoint + '/' + img.cleanDate() + '/' + img.seq|string }}">
        </a>
      {% endif %}
    </div>
  {% endfor %}
{% endfor %}