{% extends "cameras/layout.jinja" %}
{% block content %}
<h2>Historical Data</h2>
<div class="columns">
  <section class="calendar">
    <div class="most-recent-year">
      <h4 class="year">{{ year }}</h4>
      {% for month in months_days %}
        <h5 class="month">
            {{ month_names[month - 1] }}
        </h5>
        <div class="days">
          {% for day in months_days[month] %}
            <div class="day" data-date="{{ year }}-{{ month }}-{{ day }}">
              {{ day }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="previous-years">
      {% for a_year in years %}
        <h4 class="year">{{ a_year }}</h4>
      {% endfor %}
    </div>
  </section>
  <section class="channel-day-data">
    {% include "cameras/day-data.jinja" %}
  </section>
</div>
{% endblock content %}
{% block footer_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript src="/rubintv/static/js/calendar.js"></script>
{% endblock footer_scripts %}
