{% if night_reports %}
  <div id="night_reports_link">
    <h3>Night Reports Page</h3>
    <a
      href="{{ url('night_reports_hist', location=location.slug, camera=camera.slug, date_str=date|string ) }}"
      class="button button-large night-reports">
      Night Reports
    </a>
  </div>
{% endif %}
