{% extends "layout.jinja" %}

{% block subtitle %}
 <h2>{{ camera.name }}</h2>
{% endblock subtitle %}

{% block content %}
    {# <section id="subheader">
        <h2>This site is for accessing rapid image analysis from the LSST Auxiliary camera.</h2>
    </section> #}
    <nav id="per-night-menu" class="channel-menu" role="navigation">
    <h3>Per Night Channels</h3>
      <ul class="channels flr">
          <li class="channel"><a href="#" class="button large-button">Rolling Buffer</a></li>
          <li class="channel"><a href="#" class="button large-button">Tonight's Movie</a></li>
      </ul>
    </nav>
    <nav id="per-image-menu" class="channel-menu" role="navigation">
    <h3>Per Image Channels: Current</h3>
      <ul class="channels flr">
        {% for channel in channels %}
          <li class="channel">
            <a  class="button large-button {{channel}}"
                href="/rubintv/{{ camera.slug }}/{{channel}}_current" target="_blank">
              <span>{{ channels[channel].name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <div class="columns">
      <section class="channel-day-data">
        <div class="channel-grid-heading">
          <h3>Most recent data: <span class="data">{{ date }}<span></h3>
          <div class="channel-grid">
              {# <span class="grid-title gt-date">Date</span> #}
              <span class="grid-title">Seq. No.</span>
              <span class="grid-title gt-channel">Monitor</span>
              <span class="grid-title gt-channel">Spectrum</span>
              <span class="grid-title gt-channel">ImAnalysis</span>
              <span class="grid-title gt-channel">Mount</span>
            </div>
        </div>
        <div class="channel-grid">
          {# XXX: to change to live events before PR #}
          {% include "cameras/grid-data.jinja" %}
          {# {% include "cameras/fake_grid.html" %} #}
        </div>
      </section>
      <section class="sidebar">
        <a href="/rubintv/{{camera.slug}}/historical">Historical data</a>
      </section>
    </div>
{% endblock content %}
