{% extends "cameras/night-reports-layout.jinja" %}
{% block footer_scripts %}
<script type=module src="{{ url('static', filename='js/night-reports/update-reports.js') }}"></script>
{% endblock footer_scripts %}
