{% extends "cameras/layout.jinja" %}
{% block content %}
  <div class="columns">
  </div>
{% endblock content %}
{% block footer_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{# <script type=module src="{{ url('static', filename='js/allsky/allsky-refresh.js') }}"></script> #}
{% endblock footer_scripts %}
