<h3 id="the-date" data-date="{{ date }}">Night reports for: <span class="data">{{ date }}</span></h3>
<div id="night-reports">
  <div class="plots-section tabs">
    <div class="tab-titles">
     {% if dashboard_data["text"] or dashboard_data["quantities"] %}
        <div id="tabtitle-text" class="tab-title disabled">
          Text
        </div>
     {% endif %}
      {% for group in plots %}
        {% if group == "Elana" or group == "elana" %}
          {% set is_disabled = "disabled" %}
        {% endif %}
        <div id="tabtitle-{{ group|lower }}" class="tab-title {{ is_disabled }}">
          {{ group }}
        </div>
      {% endfor %}
    </div>

    <div class="plots">

    {% include "cameras/night-reports-text.jinja" %}

      {% for group in plots %}
        <div id="tabgroup-{{ group|lower }}" class="tab-content plots-grid">
          {% for plot in plots[group] %}
            <figure class="plot">
              <a href="{{ plot.url }}">
                <img src="{{ plot.url }}?t={{ plot.timestamp }}">
              </a>
              <figcaption>
                {{ plot.name }}
              </figcaption>
            </figure>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <script id="reports-json" type="application/json">
    {{ reports_json|tojson }}
  </script>
</div>
