{% extends "cameras/layout.jinja" %}
{% block content %}
 <div id="night-reports-update">
    {% include "cameras/night-reports-events.jinja" %}
 </div>
{% endblock content %}
{% block footer_scripts %}
   <script defer type="module" src="{{ url('static', filename='js/night-reports/tabs-ui.js') }}"></script>
{% endblock footer_scripts %}
