{% if night_reports_link %}
  <div id="night_reports_link">
    <h3>Night Report</h3>
    {% if night_reports_link == "current" %}
      <a href="{{ url('night_reports', location=location.slug, camera=camera.slug) }}" class="button button-large night-report">
        <img src="{{ url('static', filename='images/crescent-moon.svg') }}">
        Night Report
      </a>
    {% else %}
    {# show historical button with date #}
      <a
        href="{{ url('nr_history', location=location.slug, camera=camera.slug, date_str=date|string ) }}"
        class="button button-large night-report">
        <img src="{{ url('static', filename='images/crescent-moon.svg') }}">
        Night Report for {{ date }}
      </a>
    {% endif %}
  </div>
{% endif %}
