{% extends "cameras/night-report-layout.jinja" %}
{% block footer_scripts %}
<script type=module src="{{ url('static', filename='js/night-report/update-report.js') }}"></script>
{% endblock footer_scripts %}
