{% if "movies" in perDay and perDay["movies"] %}
  {% set movie = perDay["movies"] %}
  <div class="subheader">
    <h3>
      <span class="movie-date">{{ movie.day_obs }} :</span>
      Images 1 &#8594;
      <span class="movie-number">
        {{ movie.seq_num }}
      </span>
    </h3>
  </div>
  {% set video_url = url_for('event_video',
                      location_name=location.name,
                      camera_name=camera.name,
                      channel_name=movie.channel_name,
                      filename=movie.filename) %}
  <video width="100%" controls autoplay loop>
    <source src="{{ video_url }}" type="video/mp4">
  </video>
  <div class="desc">{{ movie.filename }}</div>
{% endif %}
