{% extends "_layout.jinja" %}
{% block pagetitle %}
  {{ camera.title }}
  {% block inline_status %}
  {% endblock inline_status %}
{% endblock pagetitle %}

{% block pagesubtitle %}
  {% if not historicalBusy %}
    {% if isHistorical %}
      Historical
    {% else %}
      Latest
    {% endif %}
  {% endif %}
{% endblock pagesubtitle %}

{% block undertitle %}
  {% if date %}
    {# only show the date is stale if we're actually displaying a tabale #}
    {% set showStale = isStale and not historicalBusy %}
    {% set stale_class = "stale" if showStale else "" %}
    {% set stale_label = 'aria-label="stale data"' if showStale else "" %}
    <div id="header-date" class="{{stale_class}}" {{stale_label}}>
      {{ date }}
    </div>
  {% endif %}
{% endblock undertitle %}

{% block further %}
  <script>
    window.APP_DATA.camera = {{ camera|tojson }}
    window.APP_DATA.date = "{{ date }}"
    window.APP_DATA.historicalBusy = {{ historicalBusy|tojson if historicalBusy else "null" }}
    window.APP_DATA.isStale = {{ "true" if isStale else "false" }}
  </script>
{% endblock further %}
