{% extends "_layout.jinja" %}
{% block pagetitle %}
  {{ camera.title }}
  {% block inline_status %}
  {% endblock inline_status %}
{% endblock pagetitle %}

{% block pagesubtitle %}
  {% if not historical_busy %}
    {% if isHistorical %}
      Historical
    {% else %}
      Latest
    {% endif %}
  {% endif %}
{% endblock pagesubtitle %}

{% block undertitle %}
  {% if date %}
    {% set stale_class = "stale" if isStale else "" %}
    <div id="header-date" class="{{stale_class}}">{{ date }}</div>
  {% endif %}
{% endblock undertitle %}

{% block further %}
  <script>
    window.APP_DATA.camera = {{ camera|tojson }}
    window.APP_DATA.date = "{{ date }}"
    window.APP_DATA.historicalBusy = {{ historical_busy|tojson if historical_busy else "null" }}
    window.APP_DATA.calendar = {{ calendar | tojson if calendar else "null" }}
    window.APP_DATA.isHistorical = {{ isHistorical | tojson if isHistorical else "null" }}
  </script>
{% endblock further %}
