{% extends "_layout.jinja" %}
{% block pagetitle %}
  Admin - {{ site_location }}
{% endblock pagetitle %}
{% block pagesubtitle %}
  Channel and service status
{% endblock pagesubtitle %}
{% block undertitle %}
  {{ version }}
{% endblock undertitle %}

{% block breadcrumb %}
<a href="{{ url_for('home') }}">Home</a>>
<p>Admin</p>
{% endblock breadcrumb  %}

{% block content %}
  <div id="admin-panels">
  {# root for admin panels #}
  </div>
  <button id="historicalReset">Reload All Historical Data</button>
{% endblock content %}
{% block footer_scripts %}
<script src="{{ url_for('static', path='assets/admin.js') }}"></script>
<script>
    window.APP_DATA.admin = {{ admin|tojson }};
    window.APP_DATA.baseUrl = "{{ request.base_url }}";
</script>
{% endblock footer_scripts %}
