{% extends "camera.jinja" %}


{% block content %}
 {% if historicalBusy %}
    {% include "camera_parts/historical-busy-message.jinja" %}
  {% else %}
   <div id="allsky">
    {# React root for AllSky #}
   </div>
  {% endif %}
{% endblock content %}

{% block footer_scripts %}
<script>
    window.APP_DATA.calendar = {{ calendar | tojson }}
    window.APP_DATA.isHistorical = {{ isHistorical | tojson }}
</script>
<script src='{{ url_for("static", path="assets/allsky.js") }}'></script>
{% endblock footer_scripts %}
