{% extends "single_event.jinja" %}

{% block undertitle %}
Latest
{% endblock undertitle %}

{% block further %}
 {{ super() }}
    <script>
      window.APP_DATA.initEvent = {{event|tojson if event else "null"}}
      window.APP_DATA.metadata = {{metadata|tojson if metadata else "null"}}
    </script>

{% endblock further %}

{% block footer_scripts %}
<script type=module src="{{ url_for('static', path='assets/current.js') }}"></script>
{% endblock footer_scripts %}
