{% extends "_layout.jinja" %}
{% block pagetitle %}
RubinTV
{% endblock pagetitle %}
{% block pagesubtitle %}
Locations
{% endblock pagesubtitle %}
{% block headerbuttons %}
  <a href="{{ url_for('admin')}}" class="button admin">
    Admin Page
  </a>
{% endblock headerbuttons %}
{% block content %}
<section class="locations">
  <h2>Locations</h2>
    <nav class="location-menu">
      <ul class="locations flr">
        {% for location in locations %}
          <li>
            {% set button = location %}
            {% set button_url = url_for('location', location_name=location.name) %}
            {% include "logo-button.jinja" %}
          </li>
        {% endfor %}
      </ul>
    </nav>
</section>
{% endblock content %}
