{% extends "_layout.jinja" %}
{% block pagetitle %}
  {{ location.title }}
{% endblock pagetitle %}

{% block breadcrumb %}
<a href="{{ url_for('home') }}">Home</a>>
<p>{{ location.title }}</p>
{% endblock breadcrumb  %}

{% block content %}
{% set loc_name = location.name %}
{% for group_name, cam_names in location.camera_groups.items() %}
  <section>
    <h2 class="section-title">{{ group_name }}</h2>
    <nav class="camera-menu">
      <ul class="cameras flr">
        {% for cam_name in cam_names %}
          <li>
            {% set cameras = request.app.state.models.cameras|list_to_dict %}
            {% set button = cameras[cam_name] %}
            {% set button_url = url_for('camera', location_name=loc_name, camera_name=cam_name) %}
            {% include "logo-button.jinja" %}
          </li>
        {% endfor %}

        {% if group_name == "Nightly Validation" and location.has_cluster_status %}
          <li>
            {% set button = {
                  "title": "Cluster Status",
                  "logo": "cluster-status.png",
                  "text_colour": "rgba(0,0,0,0)",
                  "text_shadow": false
              } %}
            {% set button_url = url_for('detectors', location_name=location.name) %}
            {% include "logo-button.jinja" %}
          </li>
        {% endif %}
      </ul>
    </nav>
  </section>
{% endfor %}
{% endblock content %}

