{% if button.logo %}
    <a
    class="button button-large button-logo"
    href="{{ button_url }}"
    style="
        background-image: url({{ url_for('static', path='images/logos/' + button.logo) }});
        color: {{ button.text_colour }};
        text-shadow: {{ button.text_shadow }};
    ">
    {{ button.title }}
    </a>
{% else %}
    <a
    class="button button-large"
    href="{{ button_url }}"
    >
    {{ button.title }}
    </a>
{% endif %}