{% extends "_camera.jinja" %}

{% block header %}
{% endblock header  %}

{% block content %}
  <div id="mosaic-view" class="columns">
  {# React MosiacView root here #}
  </div>
{% endblock content %}

{% block footer_scripts %}
  <script src='{{ url_for("static", path="assets/mosaic-view.js") }}'></script>
  {{ super() }}
{% endblock footer_scripts %}
