{% extends "night-report.jinja" %}
{% block headerbuttons %}
  <a
    class="button historical"
    href="{{ url_for('historical', location_name=location.name, camera_name=camera.name) }}">
    Historical<img src="{{ url_for('static', path='images/history-line.svg') }}">
  </a>
{% endblock headerbuttons %}

{% block content %}
  {% if historical_busy %}
    <p>Historical data is being processed... Please wait...</p>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock content %}

{% block further %}
 {{ super() }}
 <script>window.APP_DATA.isHistorical = true</script>
{% endblock further %}
