{% extends "_camera.jinja" %}

{% block pagesubtitle %}
  {{ channel.title }}
{% endblock pagesubtitle %}

{% block undertitle %}
 {{ event.day_obs }}
{% endblock undertitle %}

{% block breadcrumb %}
  <a href="{{ url_for('home') }}">
    Home
  </a>>
  <a href="{{ url_for('location', location_name=location.name) }}">
    {{ location.title }}
  </a>>
   <a href="{{ url_for('camera', location_name=location.name, camera_name=camera.name) }}">
    {{ camera.title }}
  </a>>
  <p>{{ channel.title }}</p>
{% endblock breadcrumb  %}

{% block content %}
{% if event %}
  <div class="event-info">
    <h2>
      <span id="date">{{ event.day_obs }}</span>: Sequence
      <span id="seqNum">{{ event.seq_num }}</span>
    </h2>
    <nav id="prev-next-nav">
    </nav>
    <div id="time-since-clock"></div>
  </div>
    {% set img_url = url_for('event_image',
                    location_name=location.name,
                    camera_name=camera.name,
                    channel_name=channel.name,
                    filename=event.filename) %}
    <a href="{{ img_url }}" class="event-link" id="eventLink">
      <img id="eventImage" src="{{ img_url }}" class="resp">
      <p id="eventName" class="desc">{{ event.filename }}</p>
    </a>
  {% else %}
    <h2 class="error event-error">There are no events for this channel</h2>
  {% endif %}
{% endblock content %}
{% block further %}
{{ super() }}
{% if event %}
  {% set img_url = url_for('event_image',
                    location_name=location.name,
                    camera_name=camera.name,
                    channel_name=channel.name,
                    filename=event.filename) %}
  <script>
    window.APP_DATA.imgURL = "{{ img_url }}"
    window.APP_DATA.prevNext = {{ prevnext|tojson if prevnext }}
    window.APP_DATA.eventURL = "{{ url_for('single_event', location_name=location.name, camera_name=camera.name) }}"
  </script>
{% endif %}
{% endblock further %}
{% block footer_scripts %}
    <script src='{{ url_for("static", path="assets/single.js") }}'></script>
{% endblock footer_scripts %}
