{% extends "layout.jinja" %}
{% block title %}
RubinTV Admin
{% endblock title %}
{% block subtitle %}
<h2 style="font-size: 1em;">({{ version }})</h2>
{% endblock subtitle %}

{% block content %}
  <h2>Service status</h2>
  {% for group in services %}
  <div class="service-group {{ group }}">
    <h3>
      {{ services[group]['display_name'] }}
    </h3>

    <div class="all-services">

      {% if services[group]['channels'] | length %}
        <div>
         <h4>Channels</h4>
          <div class="services channels">
            {% for channel in services[group]['channels'].values() %}
              <div class="service" id="{{ channel.prefix }}">
                <div class="heartbeat">

                </div>
                {{ channel.name }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if services[group]['services'] | length %}
        <div>
         <h4>Services</h4>
         <div class="services">
            {% for service in services[group]['services'] %}
              <div class="service" id="{{ service }}">
                <div class="heartbeat">

                </div>
                {{ services[group]['services'][service] }}
              </div>
            {% endfor %}
         </div>
        </div>
      {% endif %}

    </div>
  </div>
  {% endfor %}
  {# <script type="application/json" id="heartbeats">
    {{ heartbeats|tojson }}
  </script> #}

  <form action="reload_historical" method="POST" id="historicalReset">
    <button>Reload All Historical Data</button>
    <div class="pending hidden">
      <img src="{{ url('static', filename='images/pending.gif') }}">
    </div>
    <div class="done hidden">✅</div>
  </form>

{% endblock content %}
{% block footer_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=module src="{{ url('static', filename='js/admin-status.js') }}"></script>
<script type=text/javascript src="{{ url('static', filename='js/modules/historical-reset.js') }}"></script>
{% endblock footer_scripts %}
