{% extends "layout.jinja" %}
{% block title %}
RubinTV Admin
{% endblock title %}

{% block content %}
  <h2>Service status</h2>
  {% for camera in cameras %}
  <div class="camera-service {{camera.slug}}">
    <h3>
      <a href="/rubintv/{{ camera.slug }}">
        {{ camera.name }}
      </a>
    </h3>
    <div class="services">
      {% for channel in camera.channels %}
      <div class="service" id="{{ camera.channels[channel].prefix }}">
        <div class="heartbeat">

        </div>
        {{ camera.channels[channel].name }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  <script type="application/json" id="heartbeats">
    {# {{ heartbeats|tojson }} #}
      {# dummy data: to be removed before PR #}
        [
          {
            url: "https://storage.cloud.google.com/rubin_tv/heartbeats/auxtel_monitor.json",
            channel: "auxtel_monitor",
            currTime: 0,
            nextExpected: 0,
            errors: {},
          }
        ,]
  </script>
{% endblock content %}
{% block footer_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript src="{{ url('static', filename='js/modules/heartbeat.js') }}"></script>
{% endblock footer_scripts %}
