{% extends "camera.jinja" %}
{% block pagesubtitle %}
  Latest
{% endblock pagesubtitle %}

{% block content %}
  {% if historical_busy %}
    {% include "camera_parts/historical-busy-message.jinja" %}
  {% else %}
  <div class="columns">

    <section class="allsky-current-image">
    <h2>Current image</h2>
      <div class="current-still">
        {% include "camera_parts/allsky-image.jinja" %}
      </div>
    </section>

    <section class="allsky-current-movie">
    <h2>Current movie</h2>
      <div class="current-movie">
        {% include "camera_parts/allsky-movie.jinja" %}
      </div>
    </section>
  </div>
  {% endif %}
{% endblock content %}
{% block footer_scripts %}
    <script src='{{ url_for("static", path="assets/allsky.js") }}'></script>
{% endblock footer_scripts %}
