{% extends "_camera.jinja" %}
{% block pagesubtitle %}
  Latest
{% endblock pagesubtitle  %}

{% block undertitle %}
{% if date %}
  {{ date }}
{% endif %}
  <a
    class="button historical"
    href="{{ url_for('historical', location_name=location.name, camera_name=camera.name) }}">
    Historical<img src="{{ url_for('static', path='images/history-line.svg') }}">
  </a>
{% endblock undertitle %}

{% block breadcrumb %}
  <a href="{{ url_for('home') }}">
    Home
  </a>>
  <a href="{{ url_for('location', location_name=location.name) }}">
    {{ location.title }}
  </a>>
  <p>{{ camera.title }}</p>
{% endblock breadcrumb  %}

{% block content %}
  <div id="per-day-refreshable" class="columns">
    {% include "camera_parts/per-day-refresh.jinja" %}
  </div>

  <section>
    <nav id="per-image-menu" class="channel-menu" role="navigation">
      <h3>Current image channels</h3>
        <ul class="channels flr">
          {% for channel in camera.channels %}
            <li class="channel service"
                id="{{ channel.name }}">
              <a  class="button button-large {{ channel.name }}"
                  href="{{ url_for('current_event', location_name=location.name, camera_name=camera.name, channel_name=channel.name) }}"
                  target="_blank">
                <span>{{ channel.title }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
  </section>
  {% if historical_busy %}
    <p>There's nothing to show from today and the historical data is being processed...
    Please wait...</p>
  {% else %}
    <section id="channel-day-data">
      {% include "camera_parts/data-table-header.jinja" %}
    </section>
  {% endif %}

    {# <script type="application/json" id="camera_json">
      {{ camera_json|tojson }}
    </script> #}
{% endblock content %}

{% block footer_scripts %}
  {% if camera.js_entry %}
    {% set cam_js = "assets/" + camera.js_entry + ".js" %}
    {# <script src='{{ url_for("static", path=cam_js) }}'></script> #}
  {% endif %}
  {{ super() }}
{% endblock footer_scripts  %}
