{% extends "single_event.jinja" %}

{% block undertitle %}
Current
{% endblock undertitle %}

{% block footer_scripts %}
<script type=module src="{{ url('static', filename='assets/current.js') }}"></script>
{% endblock footer_scripts %}
