{% extends "layout.jinja" %}
{% block pagetitle %}
  {{ location.name }}
{% endblock pagetitle %}

{% block breadcrumb %}
<a href="{{ url('home') }}">Home</a>>
<p>{{ location.name }}</p>
{% endblock breadcrumb  %}

{% block content %}
{% set loc_slug = location.slug %}
{% for group_name, cam_names in location.camera_groups.items() %}
  <section>
    <h2 class="section-title">{{ group_name }}</h2>
    <nav class="camera-menu">
      <ul class="cameras flr">
        {% for cam_name in cam_names %}
          <li>
            {% set camera = cameras[cam_name] %}
            {% if camera.logo %}
              <a
                class="button button-large button-logo"
                href="{{ url('camera', location=loc_slug, camera=cam_name) }}"
                style="background-image: url({{ url('static', filename='images/logos/' + camera.logo) }})">
                {{ camera.name }}
              </a>
            {% else %}
              <a class="button button-large" href="{{ url('camera', location=loc_slug, camera=cam_name) }}">
                {{ camera.name }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </section>
{% endfor %}
{% endblock content %}
{% block further %}
  <div class="admin-access">
    <a
      class="button button-small admin"
      href="{{ url('admin', location=location.slug) }}">
      Admin
    </a>
  </div>
{% endblock further %}
