{% extends "cameras/layout.jinja" %}

{% block pagesubtitle %}
  {{ channel }}
{% endblock pagesubtitle %}

{% block undertitle %}
 {{ date }}
{% endblock undertitle %}

{% block content %}
<div id="refresher">
  <div class="subheader">
    <h2>{{ date }} : Sequence {{ seq }}</h2>
  </div>
  {% if event %}
    <a href="{{ event.url }}">
    {% set image_class = "resp" %}
    {# {% if channel=="Monitor" %}
      {% set image_class = "resp behind" %}
    {% endif %} #}
      <img class="{{ image_class }}" src="{{ event.url }}">
    </a>
    {% if channel != "Monitor" %}
      <div class="desc">{{ event.name }}</div>
    {% endif %}
  {% else %}
    <p>Event not found</p>
  {% endif %}
</div>
{% endblock content %}
