{% extends "cameras/layout.jinja" %}

{% block content %}
<div id="refresher">
  <div class="subheader">
    <h2>{{ date }} : Sequence {{ seq }}</h2>
  </div>
  {% if event %}
    <a href="{{ event.url }}">
      <img class="resp {% if channel=="Monitor" %} behind {% endif %}" src="{{ event.url }}">
    </a>
    {% if channel != "Monitor" %}
      <div class="desc">{{ event.name }}</div>
    {% endif %}
  {% else %}
    <p>Event not found</p>
  {% endif %}
</div>
{% endblock content %}
