{% extends "layout.jinja" %}
{% block content %}
  <div class="subheader">
    <h2>Sequence {{img.seq}}</h2>
  </div>
  <a target="_blank" href="{{img.url}}">
    <img class="resp {% if channel=="monitor" %} behind {% endif %}" src="{{img.url}}">
  </a>
  <div class="desc">{{img.name}}</div>
{% endblock content %}