<link rel="stylesheet" href="/rubintv/static/stylesheets/main_style.css"></link>

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript src="/rubintv/static/js/refresh.js"></script>
  
    <title>Rubin TV Home Page</title>
</head>

<body>


<header>
	  <div id="logo1"><img src="/rubintv/static/images/Rubin_Logo.png"></div>
	  <div id="title"><h1>Rubin TV image display service</h1></div>
	  <div id="logo2"><img src="/rubintv/static/images/tv4.png"></div>
</header>
	
<section id="subheader">
		<h2>This site is for accessing rapid image analysis from the LSST Auxiliary Telescope.</h2>
</section>

<section  id="nav">
<h1>Most recent images</h1>
<div class="container">
    <button onclick="window.open('http://localhost:8000/rubintv/monitor_current','_blank');"><img src="/rubintv/static/images/tv5.png"></br>Monitor</button>
    <button onclick="window.open('http://localhost:8000/rubintv/im_current','_blank');"><img src="/rubintv/static/images/tv1.png"></br>Image Analysis</button>
    <button onclick="window.open('http://localhost:8000/rubintv/spec_current','_blank');"><img src="/rubintv/static/images/tv3.png"></br>Spectrum</button>
    <button onclick="window.open('http://localhost:8000/rubintv/mount_current','_blank');"><img src="/rubintv/static/images/tv2.png"></br>Mount</button>
</div>
</section>

	<section id="pageContent">
		<main role="main">
			<article>
				<h2>Most recent image</h2>
				<p>The most recent image analysis is rapidly uploaded to the site and these images are accessible using the "Most recent images" buttons above.  They will refresh as soon as a new image is available.  The most recent images are listed in the table at the bottom of the page.  There are four types of image analysis, the raw image with simple ISR, analysis of simple non-dispersed images, spectral analysis of dispersed images, and analysis of mount tracking accuracy.</p>
			</article>
			<article>
				<h2>Past images</h2>
				<p>Past images are available by selecting a date and sequence number from the fields on the right.  </p>
			</article>
			<article>
				<h2>Searching for past images between dates</h2>
				<p>You can search for past images within a time window using the fields on the lower right. The Begin Date and End Date are not inclusive.  Only dates between the two are returned.  The list of available images between the two dates will appear in the table at the bottom of the page. The "Number in Table" entry determines how many entries are displayed in the table.</p>

			</article>
			<article>
				<h2>More to come!</h2>
				<p></p>
			</article>

</main>


<aside>

<div><h2>Past monitor event</h2>
<form style="background-color:light blue;" onSubmit="return mon_process();" id="monevents">
  <label for="date">Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="mon_date" name="date" value="2021-06-08"><br>
  <label for="seqno">Sequence number:</label><br>
  <input type="text" style="text-align:center;" id="mon_seqno" name="seqno" value="179"><br><br>
  <input type="submit" value="Submit">

  <script>
    function mon_process()
    {
    window.open( 
    "/rubintv/monevents/" + document.getElementById("mon_date").value + "/" + document.getElementById("mon_seqno").value, "_blank");
    return false;
    }
</script>
</form>
</div>

<div><h2>Past image event</h2>
<form style="background-color:light blue;" onSubmit="return im_process();" id="imevents">
  <label for="date">Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="im_date" name="date" value="2021-06-08"><br>
  <label for="seqno">Sequence number:</label><br>
  <input type="text" style="text-align:center;" id="im_seqno" name="seqno" value="179"><br><br>
  <input type="submit" value="Submit">

  <script>
    function im_process()
    {
    window.open( 
    "/rubintv/imevents/" + document.getElementById("im_date").value + "/" + document.getElementById("im_seqno").value, "_blank");
    return false;
    }
</script>
</form>
</div>

<div><h2>Past spectrum event</h2>
<form style="background-color:light blue;" onSubmit="return spec_process();" id="specevents">
  <label for="date">Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="spec_date" name="date" value="2021-06-08"><br>
  <label for="seqno">Sequence number:</label><br>
  <input type="text" style="text-align:center;" id="spec_seqno" name="seqno" value="350"><br><br>
  <input type="submit" value="Submit">

  <script>
    function spec_process()
    {
    window.open( 
    "/rubintv/specevents/" + document.getElementById("spec_date").value + "/" + document.getElementById("spec_seqno").value, "_blank");
    return false;
    }
</script>
</form>
</div>

<div><h2>Past mount tracking event</h2>
<form style="background-color:light blue;" onSubmit="return mount_process();" id="imevents">
  <label for="date">Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="mount_date" name="date" value="2021-06-08"><br>
  <label for="seqno">Sequence number:</label><br>
  <input type="text" style="text-align:center;" id="mount_seqno" name="seqno" value="208"><br><br>
  <input type="submit" value="Submit">

  <script>
    function mount_process()
    {
    window.open( 
    "/rubintv/mountevents/" + document.getElementById("mount_date").value + "/" + document.getElementById("mount_seqno").value, "_blank");
    return false;
    }
</script>
</form>
</div>

<div><h2>Search date range</h2>
<form style="background-color:light blue;" onSubmit="return search_process();" id="searchevents">
  <label for="date">Begin Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="beg_date" name="beg_date" value="2021-06-08"><br>
  <label for="date">End Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="end_date" name="end_date" value="2021-06-10"><br><br>
  <label for="num">Number in Table:</label><br>
  <input type="text" style="text-align:center;" id="num" name="num" value="500"><br><br>
  <input type="submit" value="Submit">

  <script>
    function search_process()
    {
    window.open( 
    "/rubintv/?beg_date=" + document.getElementById("beg_date").value + "&end_date=" + document.getElementById("end_date").value +"&num=" + document.getElementById("num").value, "_self");
    return false;
    }
</script>

</form>
</div>
</aside>
</section>

	
<section id="table_section">

<div id="refresher">


<table class="crimson">
<caption><h1>Table of recent images</h1></caption>
  <thead>
    <tr>
      <th> Date </th>
      <th> Sequence Number </th>
      <th colspan={{ncols}}> Channels </th>
    </tr>

  </thead>

  <tbody>

    {% for img in imgs %}
    <tr>
      <td>{{img.cleanDate()}}</td>
      <td>{{img.seq}}</td>
      {% for chan in img.chans %}
        {% if chan is not none %}
          <td><a href="{{ '/rubintv/' + chan.endpoint + '/' + img.cleanDate() + '/' + img.seq|string }}">{{chan.name}}</a></td>
        {% else %}
          <td></td>
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>

</table>

</div>

</section>

			

</body>

</html>
