<link rel="stylesheet" href="/rubintv/static/stylesheets/style.css"></link>
<link rel="icon" href="/rubintv/static/images/favicon.ico">

<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript src="/rubintv/static/js/refresh.js"></script>
</head>

<body>

<h1>Usage</h1>
<p>To get to events directly, use</p>
<div class="codehilite"><pre><span></span><code>https://roundtable.lsst.codes/rubintv/imevents/&lt;date&gt;/&lt;seq&gt;
<div class="codehilite"><pre><span></span><code>https://roundtable.lsst.codes/rubintv/specevents/&lt;date&gt;/&lt;seq&gt;
</code></pre></div>
<p>where the date format is <code>%Y-%m%-%d</code>.</p>

<p>To enlarge the table, use</p>
<div class="codehilite"><pre><span></span><code> https://roundtable.lsst.codes/rubintv/?num=&lt;num&gt;
</code></pre></div>

<p>To search by time window, use</p>
<div class="codehilite"><pre><span></span><code> https://roundtable.lsst.codes/rubintv/?beg_date=&lt;ISO date&gt;&amp;end_date=&lt;ISO date&gt;
</code></pre></div>
<p>The beg_date and end_date parameters must be ISO 8601 compliant time strings: e.g 2021-05-15.  If either is missing they will be treated as lower or upper date limits respectively.</p>

<p>To get the most recent events, use</p>
<div class="codehilite"><pre><span></span><code><a href="https://roundtable.lsst.codes/rubintv/im_current">https://roundtable.lsst.codes/rubintv/im_current</a>
<div class="codehilite"><pre><span></span><code><a href="https://roundtable.lsst.codes/rubintv/spec_current">https://roundtable.lsst.codes/rubintv/spec_current</a>
</code></pre></div>

<p>The table and current event refresh every .5s.</p>
<hr>
<h1>Table</h1>

<div id="refresher">

<table class="crimson">

  <thead>

    <tr>
      <th> Date </th>
      <th> Sequence Number </th>
      <th colspan={{ncols}}> Channels </th>
    </tr>

  </thead>

  <tbody>

    {% for img in imgs %}
    <tr>
      <td>{{img.cleanDate()}}</td>
      <td>{{img.seq}}</td>
      {% for chan in img.chans %}
        {% if chan is not none %}
          <td><a href="{{ '/rubintv/' + chan.endpoint + '/' + img.cleanDate() + '/' + img.seq|string }}">{{chan.name}}</a></td>
        {% else %}
          <td></td>
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>

</table>

</div>

</body>