<aside>
<div><h2>Past monitor event</h2>
<form style="background-color:light blue;" onSubmit="return mon_process();" id="monevents">
  <label for="date">Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="mon_date" name="date" value="2021-06-08"><br>
  <label for="seqno">Sequence number:</label><br>
  <input type="text" style="text-align:center;" id="mon_seqno" name="seqno" value="179"><br><br>
  <input type="submit" value="Submit">

  <script>
    function mon_process()
    {
    window.open( 
    "/rubintv/monitorevents/" + document.getElementById("mon_date").value + "/" + document.getElementById("mon_seqno").value, "_blank");
    return false;
    }
</script>
</form>
</div>

<div><h2>Past image event</h2>
<form style="background-color:light blue;" onSubmit="return im_process();" id="imevents">
  <label for="date">Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="im_date" name="date" value="2021-06-08"><br>
  <label for="seqno">Sequence number:</label><br>
  <input type="text" style="text-align:center;" id="im_seqno" name="seqno" value="179"><br><br>
  <input type="submit" value="Submit">

  <script>
    function im_process()
    {
    window.open( 
    "/rubintv/imevents/" + document.getElementById("im_date").value + "/" + document.getElementById("im_seqno").value, "_blank");
    return false;
    }
</script>
</form>
</div>

<div><h2>Past spectrum event</h2>
<form style="background-color:light blue;" onSubmit="return spec_process();" id="specevents">
  <label for="date">Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="spec_date" name="date" value="2021-06-08"><br>
  <label for="seqno">Sequence number:</label><br>
  <input type="text" style="text-align:center;" id="spec_seqno" name="seqno" value="350"><br><br>
  <input type="submit" value="Submit">

  <script>
    function spec_process()
    {
    window.open( 
    "/rubintv/specevents/" + document.getElementById("spec_date").value + "/" + document.getElementById("spec_seqno").value, "_blank");
    return false;
    }
</script>
</form>
</div>

<div><h2>Past mount tracking event</h2>
<form style="background-color:light blue;" onSubmit="return mount_process();" id="imevents">
  <label for="date">Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="mount_date" name="date" value="2021-06-08"><br>
  <label for="seqno">Sequence number:</label><br>
  <input type="text" style="text-align:center;" id="mount_seqno" name="seqno" value="208"><br><br>
  <input type="submit" value="Submit">

  <script>
    function mount_process()
    {
    window.open( 
    "/rubintv/mountevents/" + document.getElementById("mount_date").value + "/" + document.getElementById("mount_seqno").value, "_blank");
    return false;
    }
</script>
</form>
</div>

<div><h2>Search date range</h2>
<h3>Omit dates to search for the top N records.</h3>
<form style="background-color:light blue;" onSubmit="return search_process();" id="searchevents">
  <label for="date">Begin Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="beg_date" name="beg_date" value=""><br>
  <label for="date">End Date: Format=2021-06-08:</label><br>
  <input type="text" style="text-align:center;" id="end_date" name="end_date" value=""><br><br>
  <label for="num">Number in Table:</label><br>
  <input type="text" style="text-align:center;" id="num" name="num" value="50"><br><br>
  <input type="submit" value="Submit">

  <script>
    function search_process()
    {
    window.open( 
    "/rubintv/?beg_date=" + document.getElementById("beg_date").value + "&end_date=" + document.getElementById("end_date").value +"&num=" + document.getElementById("num").value, "_self");
    return false;
    }
</script>

</form>
</div>
</aside>