name: CI

on:
  merge_group: {}
  pull_request: {}
  push:
    branches-ignore:
      # These should always correspond to pull requests, so ignore them for
      # the push trigger and let them be triggered by the pull_request
      # trigger, avoiding running the workflow twice.  This is a minor
      # optimization so there's no need to ensure this is comprehensive.
      - "dependabot/**"
      - "gh-readonly-queue/**"
      - "renovate/**"
      - "u/**"
    tags:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    if: >
      github.event_name != 'merge_group'
      && (startsWith(github.ref, 'refs/tags/')
          || startsWith(github.ref, 'refs/heads/tickets/')
          || startsWith(github.ref, 'refs/heads/deploy')
          || startsWith(github.ref, 'refs/heads/develop'))

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e .

    - name: Run python tests
      run: pytest tests

    - name: Set up Node.js
      uses: actions/setup-node@v5
      with:
        node-version: '18'

    - name: Run JavaScript tests
      run: |
        npm install
        npm run test


  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    if: >
      github.event_name != 'merge_group'
      && (startsWith(github.ref, 'refs/tags/')
          || startsWith(github.ref, 'refs/heads/tickets/')
          || startsWith(github.ref, 'refs/heads/deploy')
          || startsWith(github.ref, 'refs/heads/develop'))

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v5
        with:
          node-version: '18'
      
      - name: npm install and build
        run: |
          npm install
          npm run build

      - name: Define the Docker tag
        id: vars
        run: echo "tag=$(scripts/docker-tag.sh)" >> $GITHUB_OUTPUT

      - name: Print the tag
        id: print
        run: echo ${{ steps.vars.outputs.tag }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/lsst-ts/rubintv:${{ steps.vars.outputs.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64
